.Coffee {
  position: relative;
  overflow: hidden;
  transition: .3s;
  // background-color: #603601;
  
  .coffee-cover{
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #35323a;
    // background-image: url("https://i.imgur.com/RmYJOvs.png");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    display: grid;
    justify-content: center;
    align-content: center;
    
    transition: .3s;
    transform: translateX(-100%);
  }
  
  &.active {
    background-color: #35323a;
    .coffee-cover{
      transform: translateX(0%);
    }
  }
 
  .YesOrNo .main-container label:first-of-type .badge img {
    transform: translateY(25px) scale(.9);
  }
}