%ContentColor {
  background: rgb(114, 255, 255);
  background: linear-gradient(270deg, #72ffff 0%, #00d7ff 50%, #0096ff 100%);
}

.Letter {
  @include section;
  @apply bg-white;

  .main-container {

    .title {
      @apply text-black;
      text-align: start !important;
    }

    .content {
      @extend %ContentColor;

      padding: 40px 40px;
      border-radius: 10px;

      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      gap: 20px;
      
      transition: .3s;
      position: relative;
      
      @screen md {
        @apply bg-white;
        border: 1px solid #daddeb;
        gap: 50px;

        &::after {
          @apply bg-white;
          position: absolute;
          display: block;
          content: "";
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          transition: 1s;
          // opacity: 1;
        }

        &:hover {
          @extend %ContentColor;
          border-color: #72ffff;

          .BadgeOption {
            transform: translateY(0px);

            .label {
              border-color: #72ffff;
            }
            &:hover .label{
              @apply text-black;
            }
          }

          &::after {
            background-color: transparent;
          }
        }
      }

      @screen md_lg {
        grid-template-columns: 1fr auto;
      }

      #text {
        position: relative;
        z-index: 2;

        div {
          display: inline-block;

          span {
            transition: .3s;
            display: inline-block;
          }

          &:hover span {
            transform: translateY(-50px);
          }
        }

        cursor: default;
      }

      .BadgeOption {
        position: relative;
        z-index: 2;
        outline: none;
        grid-row: 1 / 2;

        .label {
          border-width: 1px;
          border-style: solid;
          background-color: #0096ff;
          border-color: #0096ff;
          // color: black;
          
          @screen md{
            @apply bg-transparent border-transparent;
          }
        }

        transition: .3s;

        transform: translateY(20px) scale(.9);

        img {
          transform: scale(.9) translateY(10px);
        }
        
        
        @screen md{
          &:hover .label {
            @apply border-transparent;
            background-color: #38ebff;
            // transform: translateY(-20px);
          }
        }
      }

    }
  }
}