.AudioPlayer{
  position: fixed;
  z-index: 999999;
  right: 10px;
  bottom: 10px;
  
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  
  &.hidden{
    display: none;
  }
  
  button{
    @apply p-5 rounded-full bg-cyan-500 hover:bg-cyan-400;
    transition: .3s;
  }
}